nodered_data/flows.json
[
    {
        "id": "printer_monitor",
        "type": "tab",
        "label": "Printer State Monitor",
        "disabled": false,
        "info": "MTConnect State Monitor for OctoPrint"
    },
    {
        "id": "2f1e1926c59db31e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "monitor_group",
        "type": "ui_group",
        "name": "Printer Monitor",
        "tab": "printer_tab",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "printer_tab",
        "type": "ui_tab",
        "name": "3D Printer",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "poll_timer",
        "type": "inject",
        "z": "printer_monitor",
        "name": "1s Timer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "mtconnect_request"
            ]
        ]
    },
    {
        "id": "mtconnect_request",
        "type": "http request",
        "z": "printer_monitor",
        "name": "MTConnect Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://octoprint:5000/plugin/mtconnect/current",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "data_processor"
            ]
        ]
    },
    {
        "id": "data_processor",
        "type": "function",
        "z": "printer_monitor",
        "name": "Process MTConnect Data",
        "func": "let streams = msg.payload.MTConnectStreams.Streams[0].DeviceStream;\n\n// Initialize variables\nlet nozzleTemp = 0;\nlet bedTemp = 0;\nlet status = 'UNKNOWN';\nlet progress = 0;\n\n// Extract temperatures\nlet head = streams.ComponentStreams.ComponentStream.find(c => c.component === 'Head');\nif (head && head.Samples && head.Samples.Sample) {\n    let nozzleTempData = head.Samples.Sample.find(s => s.name === 'nozzle_temperature');\n    if (nozzleTempData) nozzleTemp = parseFloat(nozzleTempData.value);\n}\n\n// Extract bed temperature\nlet bed = streams.ComponentStreams.ComponentStream.find(c => c.component === 'Table');\nif (bed && bed.Samples && bed.Samples.Sample) {\n    let bedTempData = bed.Samples.Sample.find(s => s.name === 'bed_temperature');\n    if (bedTempData) bedTemp = parseFloat(bedTempData.value);\n}\n\n// Extract status\nif (streams.Events && streams.Events.Event) {\n    let statusData = streams.Events.Event.find(e => e.name === 'system_status');\n    if (statusData) status = statusData.value;\n}\n\n// Extract progress information\nif (streams.Samples && streams.Samples.Sample) {\n    let percentData = streams.Samples.Sample.find(s => s.name === 'percent_complete');\n    if (percentData) progress = parseFloat(percentData.value);\n}\n\n// Return multiple messages\nreturn [\n    { payload: nozzleTemp },              // Nozzle temperature\n    { payload: bedTemp },                  // Bed temperature\n    { payload: status },                   // System status\n    { payload: progress }                  // Progress percentage\n];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "nozzle_temp_gauge"
            ],
            [
                "bed_temp_gauge"
            ],
            [
                "status_display"
            ],
            [
                "progress_gauge"
            ]
        ]
    },
    {
        "id": "nozzle_temp_gauge",
        "type": "ui_gauge",
        "z": "printer_monitor",
        "name": "Nozzle Temperature",
        "group": "monitor_group",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Nozzle Temperature",
        "label": "?C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "180",
        "seg2": "220",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "bed_temp_gauge",
        "type": "ui_gauge",
        "z": "printer_monitor",
        "name": "Bed Temperature",
        "group": "monitor_group",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Bed Temperature",
        "label": "?C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "status_display",
        "type": "ui_text",
        "z": "printer_monitor",
        "group": "monitor_group",
        "order": 3,
        "width": "4",
        "height": "2",
        "name": "Machine State",
        "label": "State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "progress_gauge",
        "type": "ui_gauge",
        "z": "printer_monitor",
        "name": "Print Progress",
        "group": "monitor_group",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Print Progress",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#98fb98",
            "#90ee90",
            "#00b500"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 680,
        "y": 200,
        "wires": []
    }
]