src/nodered/flows/mtconnect_adapter.json
{
    "id": "mtconnect-flows",
    "label": "MTConnect Adapter",
    "nodes": [
        {
            "id": "octoprint_poll",
            "type": "inject",
            "name": "Poll Timer",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "v": "poll"
                }
            ],
            "repeat": "1",
            "wires": [["octoprint_request"]]
        },
        {
            "id": "octoprint_request",
            "type": "http request",
            "name": "OctoPrint API",
            "method": "GET",
            "ret": "obj",
            "url": "http://octoprint:5000/api/printer",
            "headers": {
                "X-Api-Key": "0AB6D3B0B3594438ACCFDF21BB8F8C5B"
            },
            "wires": [["process_data"]]
        },
        {
            "id": "process_data",
            "type": "function",
            "name": "Convert to MTConnect",
            "func": "const printer = msg.payload;\n\nif (printer.state) {\n    msg.payload = {\n        timestamp: new Date().toISOString(),\n        state: printer.state.text,\n        temperature: {\n            tool0: printer.temperature.tool0.actual,\n            bed: printer.temperature.bed.actual\n        },\n        position: printer.state.flags.operational\n    };\n    return msg;\n}\nreturn null;",
            "wires": [["debug", "mtconnect_output"]]
        },
        {
            "id": "debug",
            "type": "debug",
            "name": "Debug Output",
            "active": true,
            "complete": "payload",
            "x": 750,
            "y": 280
        },
        {
            "id": "mtconnect_output",
            "type": "http in",
            "name": "MTConnect Endpoint",
            "url": "/current",
            "method": "get",
            "wires": [["mtconnect_response"]]
        },
        {
            "id": "mtconnect_response",
            "type": "function",
            "name": "Format MTConnect Response",
            "func": "msg.payload = {\n    MTConnectStreams: {\n        Streams: [{\n            DeviceStream: [{\n                name: 'printer',\n                DataItems: [{\n                    DataItem: [\n                        { name: 'state', value: msg.payload.state },\n                        { name: 'temperature_tool', value: msg.payload.temperature.tool0 },\n                        { name: 'temperature_bed', value: msg.payload.temperature.bed }\n                    ]\n                }]\n            }]\n        }]\n    }\n};\n\nmsg.headers = {\n    'Content-Type': 'application/xml'\n};\nreturn msg;",
            "wires": [["http_response"]]
        },
        {
            "id": "http_response",
            "type": "http response",
            "name": "Send Response",
            "statusCode": "200",
            "headers": {}
        }
    ]
}